* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'motserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #2642FD;
  min-height: 100vh; }

.container {
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  position: relative;
  min-height: 100vh;
  overflow: hidden; }

h1 {
  font-size: 3.8rem;
  font-weight: lighter;
  line-height: 1.4;
  display: inline-block;
  color: #2642FD;
  font-family: 'motserrat', sans-serif; }

p {
  font-size: 1.5rem;
  font-weight: lighter;
  display: inline-block;
  color: #2642FD;
  font-family: 'motserrat', sans-serif; }

.blue-button {
  padding: 3rem 4rem;
  border: none;
  border-radius: 3rem;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(73, 96, 249, 0.9), #4960f9);
  color: white;
  font-family: 'montserrat', sans-serif; }
  .blue-button-phone {
    float: left;
    max-height: 2rem;
    margin-right: .5rem; }
  .blue-button-caption {
    display: inline-block;
    font-weight: lighter;
    font-size: 1.6rem; }

.about {
  display: flex; }
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 20rem;
    width: 45%; }
    .about-text_p {
      padding-top: 3rem;
      padding-bottom: 4rem;
      padding-right: 27rem; }
  .about-specialty {
    margin-top: auto;
    margin-bottom: 10rem; }
  .about-image {
    width: 110%;
    margin-left: -15%;
    margin-right: -70%; }
    .about-image-mockup {
      max-width: 100%; }

.build_anything {
  display: flex;
  margin-right: 10vw;
  margin-top: 10rem; }
  .build_anything-image {
    flex: 1.7;
    position: relative;
    margin-left: 5vw; }
    .build_anything-image-circle {
      max-width: 100%; }
    .build_anything-image-top {
      max-width: 100%;
      height: 40%;
      position: absolute;
      top: 20%;
      left: 15%;
      z-index: 10; }
  .build_anything-text {
    flex: 1;
    text-align: right; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10rem 15rem 1rem 15rem;
  border-top: 1px solid #9BA9BB;
  font-size: 1.6rem;
  font-weight: lighter; }
  .footer-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer-left-figure {
      margin-bottom: 1rem; }
    .footer-left-shape {
      float: left;
      margin-right: 1rem; }
    .footer-left-copyright {
      color: #9BA9BB; }
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-start; }
    .footer-right-list {
      padding-right: 10%;
      list-style: none;
      text-decoration: none;
      color: #9BA9BB; }
      .footer-right-list_title {
        font-weight: bold;
        margin-bottom: 1rem; }

.get_quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15%; }
  .get_quote-image {
    flex: 1; }
  .get_quote-button {
    flex: 1;
    padding-top: 15%; }

.icons {
  display: flex;
  justify-content: space-between;
  padding: 5rem 20%;
  max-width: 100%;
  text-align: center; }
  .icons-icon-text {
    font-family: 'SF Pro Display', 'sans-serif';
    font-size: 2.2rem;
    color: #9BA9BB; }

.navigation {
  background-color: white;
  color: #2E49FC;
  width: 80vw;
  margin-right: auto;
  margin-left: auto; }

.navigation-list {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end; }
  .navigation-list-logo {
    margin-right: auto;
    font-weight: bold; }
  .navigation-list-options {
    margin-left: 2rem; }

.winning_situation {
  display: flex;
  align-items: flex-end;
  margin-left: 10vw; }
  .winning_situation-left {
    flex: 1;
    height: 100%; }
  .winning_situation-right {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-right: 5vw; }
    .winning_situation-right-text {
      text-align: right;
      padding-right: 20%;
      padding-left: 25%; }
    .winning_situation-right-image {
      position: relative; }
      .winning_situation-right-image-circle {
        max-width: 100%; }
      .winning_situation-right-image-top {
        max-width: 100%;
        height: 50%;
        position: absolute;
        top: 15%;
        left: 35%;
        z-index: 10; }
