$color-primary-blue: #2642FD;
$color-navigation-blue: #2E49FC;
$color-button-blue: #4960F9;
$color-button-light-blue:  rgb(94, 114, 248);

$color-link-hover: #7d1a9b;

$color-black: black;
$color-grey: #9BA9BB;
$color-white: white;



