.about {
    display: flex;

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10vw;
        margin-top: 20rem;
        width: 45%;
        
        &_p {
            padding-top: 3rem;
            padding-bottom: 4rem;
            padding-right: 27rem;
        }
    }

    &-specialty {
        margin-top: auto;
        margin-bottom: 10rem;
    }

    &-image {
        width: 110%;
        margin-left: -15%;
        margin-right: -70%;

        &-mockup {    
            max-width: 100%;
        }
    }
}

@media only screen and(max-width: $medium) {
    .about {
        &-text {
            margin-top: 5rem;
            &_p {
                padding-right: 5rem;
            }
        }

        &-specialty {
            margin-top: 10rem;
            margin-bottom: 0;
        }

        &-image {
            margin-bottom: -15rem;
        }
    }
}

@media only screen and(max-width: $small) {
    .about {
        &-specialty {
            margin-top: 5rem;
        }
    }
}

@media only screen and(max-width: $extra-small) {
    .about {
        flex-direction: column;

        &-image {
            order: -1;
            align-self: center;
        }

        &-text {
            padding-top: 5rem;
            width: 80%;

            &_p {
                margin-bottom: 0;
            }
        }
    }
}





