.build_anything {
    display: flex;
    flex-direction: row;
    margin-right: 10vw;
    margin-top: 15rem;


    background-color: aquamarine;

    &-image {
        position: relative;
        flex: 1.7;
        margin-left: 5vw;

        background-color: pink;
        
        &-circle {
            max-width: 100%;
        }

        &-top {
            max-width: 100%;
            position: absolute;
            height: 40%;
            top: 20%;
            left: 15%;
            z-index: 10;
        }

    }

    &-text {
        flex: 1;
        text-align: right;
    }
}