.footer {
    display: flex;
    justify-content: space-between;
    padding: 10rem 15rem 1rem 15rem;
    border-top: 1px solid $color-grey;
    font-size: 1.6rem;
    font-weight: lighter;

    &-left {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-figure {
            margin-bottom: 1rem;
        }
        &-shape {
            float: left;
            margin-right: 1rem;
        }
        &-copyright {
            color: $color-grey;
        }
    }

    &-right {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;

        &-list {
            padding-right: 10%;
            list-style: none;
            color: $color-grey;

            &_item {
                text-decoration: none;
                color: $color-grey;

                &:hover,
                &:active {
                    color: $color-link-hover;
                }
            }

            &_title {
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
    }
}

@media only screen and(max-width: $medium) {
    .footer {
        padding: 5rem 0 0 5rem;

        &-left {
            flex: 1;

            &-shape {
                transform: scale(.75);
            }
            &-copyright {
                font-size: 1.2rem;
            }
        }
        &-right {
            justify-content: flex-end;
        }
    }
}

@media only screen and(max-width: $small) {
    .footer {
        flex-direction: column;
        padding: 4rem 0 0 4rem;
        font-size: 1.2rem;

        &-left {

            &-figure {
                margin-bottom: 1.4rem;
            }
            &-shape {
                transform: scale(.5) translateY(-1rem);
            }
            &-copyright {
                margin-top: 4rem;
                font-size: 1rem;
            }
        }

        &-right {
            order: -1;
            justify-content: space-between;

            &-list {
                margin-bottom: 3rem;
            }
        }
    }
}