.footer {
    display: flex;
    padding: 4rem;
    border-top: 1px solid $color-grey;

    &-left {
        flex: 2;
        background-color: aqua;

        &-list {
            list-style: none;
            text-decoration: none;

        }
        &-copyright {
            color: $color-grey;
        }
    }

    &-right {
        background-color: plum;
        flex: 1;
        display: flex;
        justify-content: flex-start;

        &-list {
            padding-right: 10%;
            list-style: none;
            text-decoration: none;
            color: $color-grey;

            &_title {
                font-weight: bold;
            }
        }
    }
}