.get_quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;

    &-image {
        flex: 1;
    }

    &-button {
        flex: 1;
        padding-top: 15%;
    }
}