.get_quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;

    &-image {
        flex: 1;
    }

    &-button {
        flex: 1;
        padding-top: 15%;
    }
}

@media only screen and(max-width: $medium) {
    .get_quote {
        padding: 10% 10% 15% 10%;

        &-image {
            transform: scale(.8);
        }

        &-button {
            padding-top: 10%;
        }
    }
}

@media only screen and(max-width: $small) {
    .get_quote {
        padding: 0;

        &-image {
            transform: scale(.5); 
        }

        &-button {
            transform: translateY(-7rem); 
        }
    }
}

@media only screen and(max-width: $extra-small) {
    .get_quote {
        margin-top: -4rem;
        margin-bottom: -3rem;
        &-image {
            transform: scale(.3);
        }

        &-button {
            transform: translateY(-10rem); 
        }
    }
}