.icons {
    display: flex;
    justify-content: space-between;
    padding: 5rem 20%;
    max-width: 100%;
    text-align: center;

    &-icon {

        &-text {
            font-family: 'SF Pro Display', 'sans-serif';
            font-size: 2.2rem;
            color: $color-grey;
        }
    }
}

@media only screen and(max-width: $medium) {
    .icons {
        padding: 4rem 10%;

        &-icon {
            &-text {
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and(max-width: $small) {
    .icons {
        &-icon {
            transform: scale(.7);
        }
    }
}

@media only screen and(max-width: $extra-small) {
    .icons {
        padding: 4rem 5%;

        &-icon {
            transform: scale(.55);
        }
    }
}