.icons {
    display: flex;
    justify-content: space-between;
    padding: 5rem 20%;
    max-width: 100%;
    text-align: center;

    &-icon {

        &-text {
            font-family: 'SF Pro Display', 'sans-serif';
            font-size: 2.2rem;
            color: $color-grey;
        }
    }
}