.navigation {
    color: $color-navigation-blue;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;

}

.navigation-list {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-size: 1.6rem;
    padding: 1rem;
    display: flex;

    justify-content: flex-end;

    &-logo {
        margin-right: auto;
        font-weight: bold;
    }

    &-options {
        text-decoration: none;
        color: $color-navigation-blue;
        margin-left: 2rem;

        &:hover {
            color: $color-link-hover;
        }
    }
}

@media only screen and(max-width: $small) {
    .navigation-list {
        font-size: 1.2rem;
    }
}

@media only screen and(max-width: $extra-small) {
    .navigation {
        width: 90vw;
    }
}


