h1 {
    font-size: 3.8rem;
    font-weight: lighter;
    line-height: 1.4;
    display: inline-block;
    color: $color-primary-blue;
    font-family: 'motserrat', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: lighter;
    display: inline-block;
    color: $color-primary-blue;
    font-family: 'motserrat', sans-serif;
}